@charset "UTF-8";

$pie-radius-rem: 12rem;

$rad: (
        0,
        1px,
        2px,
        3px,
        4px,
        5px,
        6px,
        7px,
        8px,
        9px,
        10px,
        1rem,
        2rem,
        3rem,
        4rem,
        5rem,
        6rem,
        8rem,
        10rem,
        13rem,
        15rem,
        17rem,
        20rem,
        25rem,
        30rem,
        40rem,
        50rem,
        60rem,
        70rem,
        80rem,

);

@media screen and (max-width: 767px){
    @each $radius in $rad{
        .pie-#{$radius} {
            position: absolute;
            height: $radius/2*1.1;
            width: $radius/2*1.1;
            padding: $radius/2*0.45;
            top: -$radius/2 !important;
            left: -$radius/2 !important;
            border-radius: $radius/2;
        }
        /*.pie-#{$radius}:hover {
            z-index: 999;
        }*/
    }
}

@each $radius in $rad{
    .pie-#{$radius} {
        position: absolute;
        height: $radius*1.1;
        width: $radius*1.1;
        padding: $radius*0.45;
        top: -$radius !important;
        left: -$radius !important;
        border-radius: $radius;
    }
    /*.pie-#{$radius}:hover {
        z-index: 999;
    }*/
}
//











