@charset "UTF-8";

body{
    position: relative;
}

.container{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.axis-0, .axis-1, .axis-2, .axis-3, .axis-4, .axis-5,
.axis-6, .axis-7, .axis-8, .axis-9, .axis-10, .axis-11{
    position: absolute;
}

.pole{
    height: 0 !important;
    width: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
}



$-num: 30;

$lengths: (
        1rem,
        2rem,
        3rem,
        4rem,
        5rem,
        6rem,
        8rem,
        10rem,
        12rem,
        15rem,
        17rem,
        20rem,
        23rem,
        25rem,
        30rem,
        35rem,
        40rem,
        50rem,
        70rem,
);



$axises: (
        "axis-0": (0, -1),
        "axis-1": (0.5, -0.86602540378445),
        "axis-2": (0.86602540378445, -0.5),
        "axis-3": (1, 0),
        "axis-4": (0.86602540378445, 0.5),
        "axis-5": (0.5, 0.86602540378445),
        "axis-6": (0, 1),
        "axis-7": (-0.5, 0.86602540378445),
        "axis-8": (-0.86602540378445, 0.5),
        "axis-9": (-1, 0),
        "axis-10": (-0.86602540378445, -0.5),
        "axis-11": (-0.5, -0.86602540378445),
);

@each $axis, $axis-direction in $axises{
    @each $length in $lengths{
        .#{$axis}.len-#{$length} {
            transform: translate($length*nth($axis-direction, 1), $length*nth($axis-direction, 2));
        }
    }
}





